@import url('https://fonts.googleapis.com/css?family=Raleway');

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    font-family: "Raleway", sans-serif
}






/*Navbar Style*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background: #000;
    font-family: var(--fuentemain);
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #8B0000;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #8B0000;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .logo i {
    color: #3a6186;
    font-size: 35px;
    font-weight: 600;
}

.navbar.sticky .logo i {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #8B0000;
}

.navbar.sticky .menu li a:hover {
    color: #111;
}

/*Btn*/
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #8B0000;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}



/*services*/

.services {
  font-family: "Raleway", sans-serif
}

.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services {
    color: #fff;
    background: #111;
}

.services .title::before {
    background: #fff;
}


.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: #8B0000;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: white;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}

.services .serv-content .card:hover .text {
    color: white;
}
.services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.services .serv-content .card {
    width: 100%;
}
.services .title::after {
  font-size: 16px;
}






/*Variables*/
.container .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Raleway", sans-serif;
}

.container .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.container .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    padding: 4px;
    background: #fff;
    transform: translateX(-50%);
}

.container .table-responsive {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}


.container .table-responsive thead {
  font-weight: bold;
}
